In [7]:
#Package Import
import pandas as pd
import numpy as np
import os
os.chdir('C:\\Users\\pobryant\documents\leagueoflegends')

In [8]:
#Listing all files in dir
os.listdir()

['bans.csv',
 'gold.csv',
 'kills.csv',
 'LeagueofLegends.csv',
 'matchinfo.csv',
 'monsters.csv',
 'structures.csv',
 '_columns.csv']

In [16]:
#Data Import
matchinfo = pd.read_csv('matchinfo.csv')
kills = pd.read_csv('kills.csv')
monsters = pd.read_csv('monsters.csv')
structures = pd.read_csv('structures.csv')
gold = pd.read_csv('gold.csv')

In [19]:
#Creating key for joining datasets (last 16 digits of URL)
matchinfo['id'] = matchinfo['Address'].astype(str).str[-16:]
kills['id'] = kills['Address'].astype(str).str[-16:]
monsters['id'] = monsters['Address'].astype(str).str[-16:]
structures['id'] = structures['Address'].astype(str).str[-16:]
gold['id'] = gold['Address'].astype(str).str[-16:]
matchinfo.head()

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address,id
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,Dyrus,...,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,LemonNation,Thresh,http://matchhistory.na.leagueoflegends.com/en/...,fbb300951ad8327c
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,Cris,...,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,KiWiKiD,Annie,http://matchhistory.na.leagueoflegends.com/en/...,055b17da8456fdc8
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,Flaresz,...,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,BunnyFuFuu,Janna,http://matchhistory.na.leagueoflegends.com/en/...,8e8a9b58df366e2d
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,Rhux,...,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Xpecial,Janna,http://matchhistory.na.leagueoflegends.com/en/...,0ed1cd0e0e57329c
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,Benny,...,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Dodo8,Annie,http://matchhistory.na.leagueoflegends.com/en/...,f932becf86175f38

In [20]:
#URl for data munging possible solution? https://stackoverflow.com/questions/43787059/how-to-compute-cumulative-sum-of-previous-n-rows-in-pandas
#URL for Ordered Analytical Operations: https://stackoverflow.com/questions/17775935/sql-like-window-functions-in-pandas-row-numbering-in-python-pandas-dataframe

In [21]:
monsters['Type'].unique()

array(['DRAGON', 'EARTH_DRAGON', 'WATER_DRAGON', 'AIR_DRAGON',
       'FIRE_DRAGON', 'ELDER_DRAGON', 'BARON_NASHOR', 'RIFT_HERALD'],
      dtype=object)

In [22]:
old_dragon_id = monsters[ monsters['Type']=="DRAGON"]['id'].unique()
old_dragon_id

array(['fbb300951ad8327c', '055b17da8456fdc8', '8e8a9b58df366e2d', ...,
       'd2eaf13bcbb3c021', '035394afd3bfc218', '94537494cdbc8b4c'],
      dtype=object)

In [23]:
monsters = monsters[ ~monsters['id'].isin(old_dragon_id)]
monsters[monsters['Type']=="DRAGON"]

Empty DataFrame
Columns: [Address, Team, Time, Type, id]
Index: []

In [24]:
kills = kills[ ~kills['id'].isin(old_dragon_id)]
kills = kills[ kills['Time']>0]

kills['Minute'] = kills['Time'].astype(int)

kills['Team'] = np.where( kills['Team']=="rKills","Red","Blue")
kills.head()

,Address,Team,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,x_pos,y_pos,id,Minute
4462,http://matchhistory.na.leagueoflegends.com/en/...,Blue,6.032,CLG Huhi,TSM Svenskeren,TSM Bjergsen,NaN,NaN,NaN,7825,8666,55109b5a7a91ae87,6
4463,http://matchhistory.na.leagueoflegends.com/en/...,Blue,9.428,CLG Huhi,TSM Biofrost,TSM Bjergsen,TSM Doublelift,NaN,NaN,8728,8751,55109b5a7a91ae87,9
4464,http://matchhistory.na.leagueoflegends.com/en/...,Blue,9.780,CLG Xmithie,TSM Bjergsen,TSM Hauntzer,TSM Svenskeren,NaN,NaN,8655,1172,55109b5a7a91ae87,9
4465,http://matchhistory.na.leagueoflegends.com/en/...,Blue,10.252,CLG Stixxay,TSM Doublelift,TSM Biofrost,NaN,NaN,NaN,3621,11607,55109b5a7a91ae87,10
4466,http://matchhistory.na.leagueoflegends.com/en/...,Blue,12.993,CLG Darshan,TSM Doublelift,TSM Biofrost,NaN,NaN,NaN,5674,12903,55109b5a7a91ae87,12

In [25]:
gold.head()

,Address,Type,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_87,min_88,min_89,min_90,min_91,min_92,min_93,min_94,min_95,id
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-14,-65,-268,-431,-488,-789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fbb300951ad8327c
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-26,-18,147,237,-152,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,055b17da8456fdc8
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,10,-60,34,37,589,1064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8e8a9b58df366e2d
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-15,25,228,-6,-243,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0ed1cd0e0e57329c
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40,44,-36,113,158,-121,-191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f932becf86175f38

In [27]:
melt_gold = pd.melt(gold, ['Address', 'Type'], var_name='minute')
print(melt_gold.shape)
melt_gold.head()

(9509760, 4)

                                             Address      Type minute value
0  http://matchhistory.na.leagueoflegends.com/en/...  golddiff  min_1     0
1  http://matchhistory.na.leagueoflegends.com/en/...  golddiff  min_1     0
2  http://matchhistory.na.leagueoflegends.com/en/...  golddiff  min_1     0
3  http://matchhistory.na.leagueoflegends.com/en/...  golddiff  min_1     0
4  http://matchhistory.na.leagueoflegends.com/en/...  golddiff  min_1    40